<p>Dear {{FullName}},</p>
<p>We have received a request to reset your password for your Swallow account. To ensure the security of your account, this request can only be initiated by a verified account holder.</p>
<p>Please follow the steps below to create a new password:</p>
<ol>
    <li>Click on the following link: <a href='{{ResetPasswordLink}}' target='_blank' rel='noopener noreferrer'>Reset Password</a>.</li>
    <li>You will be directed to a secure page on our website.</li>
    <li>Enter and confirm your new password.</li>
    <li>Submit the form to complete the password reset process.</li>
</ol>
<p>If you did not request a password reset, please ignore this email or contact our support team immediately at <a href='mailto:{{SupportEmail}}'>{{SupportEmail}}</a> to ensure your account remains secure.</p>
<p>If you’re having trouble clicking the 'Reset Password' link, copy and paste the URL below into your web browser:</p>
<p><a href='{{ResetPasswordUrl}}' target='_blank' rel='noopener noreferrer'>{{ResetPasswordUrl}}</a></p>
<p>We recommend completing this process promptly to ensure the security of your account.</p>
<p>Kind regards,<br>The Swallow Team</p>
